.body {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: solid red;
  height: 5vh;
  width: 15vw;

  p {
    font-size: 1rem;
  }
}

.mainReembolsos {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
}

.containerCards {
  // border: solid blue;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.card {
  width: 15vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #cbd4e1;
  border-radius: 6px;
  margin-top: 1rem;
}

.card:hover{
  background-color: #F1F4F9;
  border: solid;
  cursor: pointer;
}

.containerDados {
  border: solid #cbd4e1;
  width: 70%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  margin-top: 1rem;

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 5vh;
    //border: solid ;
  }
}

.imgSolicitados {
  background-color: #00bedd;
  padding: 6px;
  border-radius: 6px;
}

.imgAnalise {
  background-color: #e56700;
  padding: 6px;
  border-radius: 6px;
}

.imgAprovados {
  background-color: #007a6a;
  padding: 6px;
  border-radius: 6px;
}

.imgRejeitados {
  background-color: #a60b2f;
  padding: 6px;
  border-radius: 6px;
}

.containerSistema {
//  border: solid green;
  width: 15vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  align-items: center;
}
