.mainLogin {
  display: flex;
}

.containerFoto {
  width: 65%;
  height: 100vh;
  //background-color: green;
  background-image: url("../../assets/Tela\ Login/imagem tela de login.png");
  background-repeat: no-repeat;
  //background-size: contain;
  //background-size: cover;
  background-size: 100%;
  background-position: center;
}

.formWapper {
  //border: solid red;
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .boxLogo {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    //border: solid blue;
    h1 {
      width: 60%;
      font-size: 2rem;
      text-align: center;
    }
    p {
      color: blue;
      font-size: 1rem;
    }
  }

  form {
    height: 20vh;
    //border: solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    input {
      height: 4vh;
      width: 15vw;
     
    }
  }


  .boxButton{
    width: 100%;
    //border: solid green;
    display: flex;
    justify-content: space-evenly;
    button{
        width: 5vw;
        height: 4vh;
        border-radius: 6px;
        font-size: 1rem;
    }
  }

}
